.box{
    height: 200px;
    width: 300px;
    background-color: palevioletred;
    animation-name: anim;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;

}

@keyframes anim {
   from {
    font: size 22px;}

    to{
        font-size: 44px;
    }
    
}


